@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
body {
  background-image: url("../assets/1\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}
#titleHeader {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #ffffff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin-top: 20px;
}
#barraNavegacion {
  display: flex;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  list-style: none;
}
.link {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
#seccionMisPeliculas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.505);
  height: 200px;
  width: 1300px;
  padding: 20px;
  margin: 20px 50px 20px 70px;
}
#divMisPeliculas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#pMisPeliculas {
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
#articleMisPeliculasFavoritas {
  display: flex;
  flex-direction: row;
}
#seccionMisPeliculasFavoritas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#misPeliculasFavoritas {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  color: #ffffff;
}
#comoFuncionamos {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  color: #ffffff;
}
#seccionComoFuncionamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  color: #ffffff;
}
#pComoFuncionamos {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.505);
  height: 500px;
  width: 1300px;
  padding: 20px;
  margin: 20px 50px 20px 70px;
  color: #ffffff;
}
#divComoFuncionamos {
  margin: 0;
  padding-top: 10px;
  text-align: center;
}
#nuestraHistoria {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  color: #ffffff;
}
#pNuestraHistoria {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.505);
  height: 500px;
  width: 1300px;
  padding: 20px;
  margin: 20px 50px 20px 70px;
  color: #ffffff;
}
#comienza {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  color: #ffffff;
}
